body {
  background: rgba(95, 148, 246, 0.375);
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(75, 109, 223);
}
.weather-app {
  background: rgba(228, 233, 244, 0.469);
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
  max-width: 600px;
  padding: 30px;
}
header {
  border-bottom: 1px solid rgb(247, 247, 247);
  padding: 0 0 30px 0;
}
.search-form-input {
  background: rgb(239, 239, 244);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 13px 17px;
  width: 55%;
}
.search-form-button {
  background: rgb(124, 157, 228);
  padding: 15px 15px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
}
.current-location-button {
  background: rgb(86, 108, 155);
  padding: 15px 13px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
}
main {
  margin-top: 30px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 45px;
  line-height: 48px;
  color: rgba(31, 31, 110, 0.892);
}
.weather-app-details {
  color: rgba(29, 29, 165, 0.8);
  font-size: 20px;
  line-height: 28px;
}
.description {
  color: rgba(115, 115, 215, 0.63);
  position: relative;
  top: 30px;
  left: 300px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  height: 88px;
  width: 88px;
}
.weather-app-temperature {
  color: rgba(33, 33, 158, 0.63);
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.weather-app-unit {
  color: rgba(33, 33, 158, 0.63);
  margin-top: 6px;
  font-size: 28px;
}
.card {
  background: rgba(177, 200, 246, 0.469);
  border: #fff;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
  margin-top: 30px;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  color: rgba(29, 29, 165, 0.8);
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(33, 33, 158, 0.63);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  height: 80px;
  display: block;
  margin: 0 auto;
  width: 80px;
}

footer {
  border-top: 1px solid rgb(243, 243, 246);
  color: rgb(102, 102, 107);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
